@import "../../style/sizes.less";

.tabs-content {
  overflow-y: scroll;
  will-change: scroll-position;
  &::before {
    content: "";
    display: block;
    height: calc(@header-height + 20px);
    width: 100%;
  }

  &::after {
    content: "";
    display: block;
    height: calc(@player-height + 20px);
    width: 100%;
  }
}

.tabs-content__item-wrap {
  // position: fixed;
  // visibility: hidden;
  display: none;
}
.tabs-content__item-wrap.tabs-content__item-wrap--active {
  // position: static;
  // visibility: visible;
  display: block;
}
