@import "../../style/colors.less";

.video-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  max-width: 100%;
  padding: 10px;
  border: 1px solid #1c1c1c;
  border-radius: 5px;
  background-color: #111;
  transition: transform 0.2s;
  overflow: hidden;
  &:hover {
    background-color: rgb(20, 20, 20);
  }
}

.video-block__main-content {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video-block__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.video-block__preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-block__preview-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 100%;
  width: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  // width: 100%;
}

.video-block__title-wrap {
  margin-bottom: 20px;
  padding: 0 15px 5px 0;
  border-bottom: 1px solid rgba(219, 219, 21, 0.205);
  color: #eee;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  cursor: default;
  box-shadow: inset 0 0 10px 0 inherit;
}

.video-block__preview-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  max-width: 20%;

  .video-block__preview:hover & {
    filter: brightness(1.1);
  }
  .video-block__preview:active & {
    filter: brightness(0.9);
  }
}
